body {
  /*background: #FAEBDB;*/
}

.form-control.error:focus {
  border-color: #E96666;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(233, 102, 102, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(233, 102, 102, 0.6);
}

[ng-cloak] .ng-cloak {
  display: none !important;
}

.movie-card {
 border: 1px solid #d7d7d7;
 margin-bottom: 1.5rem;
 box-shadow: 2px 4px 5px 0px #d7d7d7; }

.movie-card img {
  width: 100%;
}

.movie-card .card-content {
  background: #fff;
  margin: 1.25rem;
}

.movie-card .card-content h4 {
  padding-top: 0.5rem;
  color: #CF000F;
}

.movie-card .card-content h4 small {
  font-size: 1rem;
  font-weight: 200;
}

.movie-card .card-content p {
  color: #757D75;
}

.movie-card .card-content a i {
  font-weight: 300;
  color: #757D75;
  margin: 0 .5rem;
  padding: 5px 7px 5px 7px;
  border: 1px solid #757D75;
  border-radius: 50%;
}

.movie-card .card-content .movie-rating {
  background: #ADD8E6;
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-top: -3rem;
  text-align: center;
  padding-top: 0.85rem;
  font-weight: bold;
  font-size: .95rem;
}
