<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Movie Finder</title>

  <!-- Bower Components -->
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/angular-route/angular-route.min.js"></script>
  <script src="../bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="../bower_components/angular-ui-bootstrap/src/typeahead/typeahead.js"></script>
  <script src="../bower_components/underscore/underscore-min.js"></script>
  <!-- end Bower Components -->

  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- App -->
  <script src="scripts/app.js"></script>
  <script src="scripts/services/omdb_api.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/movie.js"></script>
  <!-- end App -->

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="styles/app.css">

</head>
<body ng-app='movieFinderApp'>

  <div ng-controller="MainCtrl" class="container-fluid">
    <!-- <form ng-keyup="autocomplete(title)"> -->
    <form>
        <input  type="text"
                ng-model="title"
                placeholder="Search Movies"
                typeahead="movieData as movieData.Title for movieData in autocomplete(title) | limitTo:8"
                typeahead-min-length="4"
                typeahead-on-select="goTo($viewValue)"
                typeahead-loading="loadingLocations"
                class="form-control"
                ng-class="{error: errors}"
        >
        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
    </form>
    <h1 ng-repeat="suggestion in autocomplete_suggestions">{{suggestion.Title}}</h1>
  </div>


  <div ng-view></div>

</body>
</html>